<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>boxTitle</key>
		<string>Raionul Rezina</string>
		<key>boxContent</key>
		<string>Raionul Rezina a fost înfiinţat la 11 noiembrie 1940 şi este situat de-a lungul rîului Nistru, pe malul drept, în partea de nord-est a ţării. Raionul Rezina se mărgineşte cu raioanelevecine Orhei, Şoldăneşti, Teleneşti şi Rîbniţa şi poartă numele oraşului-reşedinţă.</string>
	</dict>
	<dict>
		<key>boxTitle</key>
		<string>Suprafaţa totală</string>
		<key>boxContent</key>
		<string>621,7947 km2.</string>
	</dict>
	<dict>
		<key>boxTitle</key>
		<string>Populaţia</string>
		<key>boxContent</key>
		<string>raionului Rezina constituie 52,6 mii locuitori, dintre care:
populaţie urbană – 13,53 mii de persoane;
populaţie rurală – 39,06 mii de persoane;
densitatea – 84,5 pers/ km2.
Componenţa etnică a populaţiei:
- moldoveni - 93,0%;
- ucraineni - 3,5% ;
- ruşi - 2,3%;
- găgăuzi - 0,1%;
- români - 0,8%;
- bulgari - 0,1%;
- alte naţionalităţi - 0,2%.</string>
	</dict>
	<dict>
		<key>boxTitle</key>
		<string>Structura administrativ-teritorială</string>
		<key>boxContent</key>
		<string>Raionul Rezina are în total 41 localităţi, inclusiv oraşul Rezina. Localităile sunt structurate în 25 de primării. Din componenţa primăriei Rezina fac parte şi 3 localităţi rurale – Ciorna, Stohnaia şi Boşerniţa.</string>
	</dict>
	<dict>
		<key>boxTitle</key>
		<string>Căile de comunicaţie şi categoria acestora</string>
		<key>boxContent</key>
		<string>- căi ferate, total - 15 km; denumirea - Mateuţi-Bălţi, tronsonul 112 km-126 km, lungimea - 15 km. Staţie de cale ferată -Măteuţi, amplasată la 7 km de centrul raional;
- staţie fluvială - Rîbniţa, amplasată la 3,2 km de la oraşul Rezina;
- drumuri publice auto - 208,6 km, gară auto, amplasată în oraşul Rezina.</string>
	</dict>
	<dict>
		<key>boxTitle</key>
		<string>Economia</string>
		<key>boxContent</key>
		<string>În raion activează 8360 de agenţi economici, cu drept de persoana fizica - 7591. Volumul producţiei industriale în preţuri curente a atins nivelul de 631893.7 mii de lei. Ritmul de creştere faţă de anul precedent constitue 119.4%.
În luna decembrie 2011, salariul mediu lunar al unui lucrător în economia raionului a constituit 3290.2 lei.
Raionul Rezina este un raion agrar şi dispune de 43.471 mii ha de terenuri cu destinaţie agricolă. Aceste terenuri sunt gestionate şi lucrate de 55 de agenţi economici în agricultură. Volumul global al producţiei agricole la toate categoriile de gospodării în preţuri curente a atins nivelul de 458277 mii de lei.
Din contul tuturor surselor de finanţare realizate în economia raionului în perioada de raport au fost valorificate investiţii în valoare de 58.9 mil de lei.
La Agenţia pentru ocuparea Forţei de munca stau în evidenţă 608 şomeri .
În raionul Rezina sînt înregistraţi 12134 de pensionari. Valoarea medie a pensiei este de 623 de lei, ceea ce constitue o majorare faţă de perioada respectivă a anului precedent de 106.3% .</string>
	</dict>
</array>
</plist>
